{{ define "main" }}
<link rel="stylesheet" href="https://unpkg.com/xp.css">

<style>
  .xp-read-more {
    text-decoration: none;
    display: inline-block;
    margin-top: 0.75rem;
  }
</style>

{{ range .Pages }}
<article class="post-entry">
  <header class="entry-header">
    <h2 class="entry-hint-parent">{{ .Title }}</h2>
  </header>
  <div class="entry-content">
    <p>{{ .Summary }}</p>
  </div>
  <footer class="entry-footer">
    <span>{{ .Date.Format "January 2, 2006" }}</span>
    <span>&nbsp;·&nbsp;{{ .ReadingTime }} min</span>
  </footer>
  <a class="xp-read-more" href="{{ .Permalink }}"><button>Read more »</button></a>
</article>
{{ end }}

{{ end }}